altair
pandas
streamlit-webrtc
streamlit-webcam-example
opencv-contrib-python-headless
cmake
scikit-image 
Pillow
numpy
aioice
twilio
scipy
imutils
face_recognition@git+https://github.com/akashthakur4553/face_recognition 


