streamlit
opencv-python-headless
streamlit_webrtc
cmake 
Pillow
numpy
aioice
logging  --no-deps
twilio  --no-deps
scipy  --no-deps
imutils  --no-deps
dlib-bin  --no-deps
face_recognition  --no-deps
